{% extends 'base.html' %}
{% load static %}
{% block title %}Admin Area{% endblock %}
{% block content %}
  <nav class="navbar fixed-top navbar-expand-md" id="nav">
    <a href="{% url 'index' %}" class="brand"><img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2FAsk-it_logo_textPoppins4.png?alt=media&token=2efe0980-4519-452b-bd12-65d0e2282a48" alt="logo" height="50px" width="145px"></a>
    <button class="navbar-toggler navbar-dark" data-toggle="collapse" data-target=".menu">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav menu">
      <ul class="navbar-nav nav-align">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="#responses_cont" class="nav-link">Responses</a></li>
        <li class="nav-item"><a href="#wordcloud" class="nav-link">Wordcloud</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid link3">
    <div class="row  justify-content-center">
      <div class="col-12 col-md-5 link1">
        <div class="row">
         <div class="col-12 text-center">
          <h1 class="responses_head">Link</h1>
         </div>   
        </div>
        <div class="row">
          <div class="col-12 text-center mb-2">
            <h4 class="responses_content mb-2" id="responses_content">
              You can now share this link with other people
            </h4>
            <h5><a style="color:blue" href="{{ user_url }}" class="plum">{{ user_url }}</a><button id="jojo"><img src="https://image.flaticon.com/icons/svg/2911/2911213.svg"  width = 50 height=30 title="Copy Link"></button></h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="container responses shadow-lg" id="responses_cont">
    <div class="row justify-content-center">
      <div class="col-12 text-center mt-4">
        <h1 class="responses_head">Responses</h1>
      </div>
      <div class="col-12 text-center">
        <h4 class="responses_content">You currently have <span>{{ responses }}</span> responses.</h4>
      </div>
      <div class="col-12 col-md-4 text-center mt-3">
        <button class="btn btn-success" onClick="window.location.reload();">Refresh</button>
      </div>
      <div class="col-12 text-center">
        <h4 class="responses_content">Download the answer list here.</h4>
      </div>
      <div class="col-12 col-md-4 text-center mt-3 mb-3">
        <input id="text-val" type="hidden" value="{{ unique_string }}">
        <input type="button" class="btn btn-info" id="dwn-btn" value="Download Answers">
      </div>
    </div>
  </div>
  <div class="container wordcloud shadow-lg mt-5" id="wordcloud">
    <div class="row justify-content-center">
      <div class="col-12 text-center mt-4">
        <h1 class="responses_head">Wordcloud</h1>
      </div>
      <div class="col-12 text-center">
        <h4 class="responses_content">Click here to generate the wordcloud for all the answers.</h4>
      </div>
      <div class="col-12 col-md-4 text-center mt-3 mb-3">
        <form action="{% url 'admin_panel' admin_code %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="user_code" value="{{ admin_code }}">
          <button type="submit" class="btn btn-dark">Generate</button>
        </form>
      </div>
    </div>
    {% if show_wordcloud == False %}
    {% else %}
      <div class="row justify-content-center">
        <div class="col-6 col-md-4 text-center mt-2 mb-4 thumbnail">
          <img src="{{ image_url }}" alt="wordcloud thumbnail" class="img-thumbnail">
          <div class="overlay">
            <div class="text"><a href="#" data-toggle="modal" data-target="#wordCloud">Click here to see image.</a></div>
          </div>
        </div>
      </div>
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-12 col-md-7">
        <div class="modal fade" id="wordCloud" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wordcloud Image</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
               <div class="row">
                 <div class="col-12">
                   <img src="{{ image_url }}" alt="wordcloud image" class="img-fluid">
                 </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>     
    </div>
    {% if mail_sent == True %}
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h4 class="responses_content">Your wordcloud has been mailed successfully.</h4>
        </div>
      </div>
    {% else %}
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h4 class="responses_content">Get the wordcloud directly on your mail.</h4>
        </div>
        <div class="col-12 col-md-4 text-center mt-3 mb-3">
          <form action="{% url 'mail_cloud' admin_code %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Mail Wordcloud</button>
          </form>
        </div>
      </div>
    {% endif %}
  </div>
  <div class="container mt-3">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 text-center">
        <form action="{% url 'end_meeting' admin_code %}" method="POST">
          {% csrf_token %}
          <button class="btn btn-danger mt-3 mb-5">End Meeting</button>
        </form>
      </div>
    </div>
  </div>
  <footer>
    <small>Developed by Vaibhav Sharma • Anshul Saha • Yuvraaj Narula • Aditya Aggarwal</small>
  </footer>
  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <script>
    
  </script>
  <script type="text/javascript">

    $(document).ready(function () {
        $(jojo).click(function (event) {
            event.preventDefault();
            CopyToClipboard('{{ user_url }}', true, "Link copied");
        });
    });

    function CopyToClipboard(value, showNotification, notificationText) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(value).select();
        document.execCommand("copy");
        $temp.remove();
        alert("Link Copied !");
        }
  </script>
  <script>
    function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();

    document.body.removeChild(element);
    }
    document.getElementById("dwn-btn").addEventListener("click", function(){
        var text = document.getElementById("text-val").value;
        var filename = "answers.txt";
        
        download(filename, text);
    }, false);
  </script>
  {% endblock %}