{% extends 'base.html' %}
{% load static %}
{% block title %}Answer{% endblock %}
{% block content %}
  <nav class="navbar fixed-top navbar-expand-md" id="nav">
    <a href="{% url 'index' %}" class="brand"><img src="{% static 'assets/notifyreLogo2.png' %}" alt="logo" height="60px" width="60px"></a>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target=".menu">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav menu">
      <ul class="navbar-nav nav-align">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="container ans-container">
    <div class="row">
      <div class="col-12 ans text-center">
        <h1 class="ans_head mt-3 mb-3">Your Answer</h1>
      </div>
      <div class="col-12 mt-3 mb-3">
        <h3>
          Q)- <strong><em>What is 2 + 2?</em></strong>
        </h3>
      </div>
      <div class="col-12 mb-2">
        <form action="">
          <input type="text" class="form-control" placeholder="Your answer..">
          <p class="mt-2">*Maximum characters allowed: <span>5</span></p>
          <div class="form-group">
            <button class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid contact" id="contact">
    <div class="row">
      <div class="col-md-12 text-center mt-4">
        <h1 class="contact_head">Contact Us</h1>
      </div>
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-4 text-center mb-5">
            <a href="mailto:techshell.noreply@gmail.com"><i class="fa fa-2x fa-envelope icon"></i></a>
            <p class="contact_text">techshell.noreply@gmail.com</p>
          </div>
          <div class="col-md-4 text-center mb-5">
            <a href="https://www.instagram.com/tech.shell/"><i class="fab fa-3x fa-instagram icon mb-1"></i></a>
            <p class="contact_text">tech.shell</p>
          </div>
          <div class="col-md-4 text-center mb-5">
            <i class="fas fa-2x fa-map-marker-alt icon"></i>
            <p class="contact_text">Gurugram, 122001</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <small>Developed by Vaibhav Sharma • Anshul Saha • Yuvraaj Narula • Aditya Aggarwal</small>
  </footer>
  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  {% endblock %}