{% extends 'base.html' %}
{% load static %}
{% block title %}Link{% endblock %}
{% block content %}
    <div class="container-fluid link">
      <div class="row  justify-content-center">
        <div class="col-12 col-md-5 link1">
          <div class="row">
           <div class="col-12 mt-4 text-center">
            <h1 class="link_content"><b>Link</b></h1>
           </div>   
          </div>
          <div class="row">
            <div class="col-12">
              <h5><a style="color:blue" href="{{ local_user_url }}" class="plum">{{ local_user_url }}</a></h5>
               <p> <br>
                Share it with the world !!!<br>
                Go to the admin area to see the responses flowing in
                </p>
            </div>
            <div class="col-12 col-md-4 mb-4">
              <button class="btn btn-danger"><a style="color:white;text-decoration:none;" href="{{ local_admin_url }}">Admin Area</a></button>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
{% endblock %}
