{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Finverse.png?alt=media&token=cbac2d1d-d03f-46f1-91f7-67e45666d84a">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Findex.css?alt=media&token=743b9541-eeeb-4669-80c6-ae277fbafb44">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fpreloader.css?alt=media&token=5c275cb8-6ee7-461f-b719-7f26ca2601c9">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://kit.fontawesome.com/a54d2cbf95.js"></script>
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Ftypewriter.js?alt=media&token=b4a2c772-21d8-4711-9a1a-570265a320b9"></script>
  <title>Ask-it | Home</title>
</head>

<body>
<body style="background-color: white;"></body>
  <nav class="navbar fixed-top navbar-expand-md" id="nav">
    <a href="{% url 'index' %}" class="brand"><img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2FAsk-it_logo_textPoppins4.png?alt=media&token=2efe0980-4519-452b-bd12-65d0e2282a48" alt="logo" height="50px" width="145px"></a>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target=".menu">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav menu">
      <ul class="navbar-nav nav-align">
        <li class="nav-item"><a href="#about" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{% url 'form' %}" class="nav-link">Generate</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid pic">
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1 class="main_head">
          <p class="typewrite" style="font-family:Lato, sans-serif;" data-period="200" data-type='[ "Got Something ?", "Ask-it." ]'>
            <span class="wrap"></span>
          </p>
        </h1>
      </div>
      <div class="col-12 text-center mt-5">
        <button class="btn btn-danger" style="border-radius: 20px;width: 15rem;letter-spacing: 2px;" id="generate"><a style="text-decoration: none;color:white;" href="{% url 'form' %}">Generate Question</a></button>
      </div>
    </div>
  </div>
  <div class="container mt-3 mb-5" id="about">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="about_head">Features</h1>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12 col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Filtered Inputs</h5>
            <p class="card-text">Every input is filtered first, removing the unnecessary and inappropriate words from
              the answer list.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Fstrikethrough.jpg?alt=media&token=72beba10-dec8-496a-91d6-d2b2db504651" class="card-img-top" alt="strike-off">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Wordcloud Generator</h5>
            <p class="card-text">We offer an option to generate a wordcloud for every question asked, which can be
              downloaded later.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Fwordcloud.jpg?alt=media&token=0b88b248-661d-4709-97c2-0c8742f13e7f" class="card-img-top" alt="wordcloud">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Don't want a wordcloud?</h5>
            <p class="card-text">We also offer the option to download a list of all the answers separately.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Fanswer.jpg?alt=media&token=00538cf3-0af2-46a5-968f-fa8f3ef60095" class="card-img-top" alt="answers">
        </div>
      </div>
      <div class="col-12 col-md-4 end-features">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Character Limit</h5>
            <p class="card-text">The host can specify the number of characters he wants to allow to be written in the
              answer box.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Fanas-alshanti-feXpdV001o4-unsplash.jpg?alt=media&token=d5434ac2-5948-4564-9215-64ba67103580" class="card-img-top" alt="keyboard">
        </div>
      </div>
      <div class="col-12 col-md-4 end-features">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Shareable Links</h5>
            <p class="card-text">Form the question, generate a shareable link and share it with people you wanna ask
              questions from.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Flink.png?alt=media&token=d597c3d2-2dde-4c2a-a093-4d06a1a3ffb1" class="card-img-top" alt="link-pic">
        </div>
      </div>
      <div class="col-12 col-md-4 end-features">
        <div class="card shadow">
          <div class="card-body text-center">
            <h5 style="font-weight:bold" class="card-title">Restricted Words</h5>
            <p class="card-text">The host the can restrict users from writing certain words apart from the words the website is already restricting.</p>
          </div>
          <img src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Frestrict.jpg?alt=media&token=90a848e4-7192-4761-be1d-d4292ea4e57c" class="card-img-top" alt="link-pic">
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid contact" id="contact">
    <div class="row">
      <div class="col-md-12 text-center mt-4">
        <h1 class="contact_head">Contact Us</h1>
      </div>
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-md-4 text-center mb-5">
            <a href="mailto:techshell.noreply@gmail.com"><i class="fa fa-2x fa-envelope icon"></i></a>
            <p class="contact_text">techshell.noreply@gmail.com</p>
          </div>
          <div class="col-md-4 text-center mb-5">
            <a href="https://www.instagram.com/tech.shell/"><i class="fab fa-3x fa-instagram icon mb-1"></i></a>
            <p class="contact_text">tech.shell</p>
          </div>
          <div class="col-md-4 text-center mb-5">
            <i class="fas fa-2x fa-map-marker-alt icon"></i>
            <p class="contact_text">Gurugram, 122001</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <small>Developed by Vaibhav Sharma • Anshul Saha • Yuvraaj Narula • Aditya Aggarwal</small>
  </footer>
  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Fto-top.js?alt=media&token=4951358c-5ef5-45f2-97e8-5a9d445c19fb"></script>
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Fpreloader.js?alt=media&token=07c707ea-0785-4559-8074-f106703b0a29"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>