{% extends 'base.html' %}
{% load static %}
{% block title %}Answer{% endblock %}
{% block content %}
  <nav class="navbar fixed-top navbar-expand-md" id="nav">
    <a href="{% url 'index' %}" class="brand"><img src="{% static 'assets/Ask-it_logo_textPoppins4.png' %}" alt="logo" height="50px" width="145px"></a>
    <button class="navbar-toggler navbar-light" data-toggle="collapse" data-target=".menu">
      <span class="navbar-toggler-icon"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse nav menu">
      <ul class="navbar-nav nav-align">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Home</a></li>
      </ul>
    </div>
  </nav>
  <div class="container ans-container">
    <div class="row">
      <div class="col-12 ans text-center">
        <h1 class="ans_head mt-3 mb-3">Your answer has been submitted successfully.</h1>
      </div>
    </div>
  </div>
  <footer style="width: 100%;position: absolute;bottom: 0rem;">
    <small>Developed by Vaibhav Sharma • Anshul Saha • Yuvraaj Narula • Aditya Aggarwal</small>
  </footer>
  <a href="#" class="to-top">
    <i class="fas fa-chevron-up"></i>
  </a>
  {% endblock %}