{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--Fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/assets%2Finverse.png?alt=media&token=cbac2d1d-d03f-46f1-91f7-67e45666d84a">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Findex.css?alt=media&token=743b9541-eeeb-4669-80c6-ae277fbafb44">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fpreloader.css?alt=media&token=5c275cb8-6ee7-461f-b719-7f26ca2601c9">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://kit.fontawesome.com/a54d2cbf95.js"></script>
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Ftypewriter.js?alt=media&token=b4a2c772-21d8-4711-9a1a-570265a320b9"></script>
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fform.css?alt=media&token=0d62c2b3-49b5-4f9f-8dce-396baec9ad4c">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fgenerate.css?alt=media&token=036762d3-3628-4bc1-b3b4-a8b52f6267c7">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fanswer.css?alt=media&token=523e7f63-c468-4325-9c4d-b084ab9748f4">
  <link rel="stylesheet" href="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/css%2Fadmin_area.css?alt=media&token=85c12c42-3f22-499e-87bb-b1d8779ec325">
  <title>Ask-it | {% block title %}{% endblock %}</title>
</head>

<body>
{% block content %}{% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Fto-top.js?alt=media&token=4951358c-5ef5-45f2-97e8-5a9d445c19fb"></script>
  <script src="https://firebasestorage.googleapis.com/v0/b/webp-bf95a.appspot.com/o/js%2Fpreloader.js?alt=media&token=07c707ea-0785-4559-8074-f106703b0a29"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
  </script>
</body>

</html>